@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #1f2937;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 20px 40px;
    background-color: #1f2937;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #60a5fa;
}

/* Main content */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 30px;
    min-height: calc(100vh - 140px);
}

main h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #111827;
    text-align: center;
}

main h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    color: #242830;
}

main p {
    line-height: 1.7;
    font-size: 15px;
}

/* Project content */
main div {
    background-color: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
}